.vscode
/build
/output
/test/instances/BioRevAix/N1
/test/instances/BioRevAix/raw
*.lp
*.mps.gz
*.dot
*.pdf
*.eps
*.svg
*.index
*.patches
*.links
*.o
*.log
*.json

CMakeUserPresets.json
/doc/html
/doc/latex
