.vscode
/build
/output
/test/instances/Aix/N1
/test/instances/Aix/N2
*.lp
*.mps.gz
*.dot
*.pdf
*.eps
*.svg
*.index
*.patches
*.links
*.o

CMakeUserPresets.json
/doc/html
/doc/latex
